asgiref==3.12.1
Django==5.2.17
djangorestframework==3.18.0
psycopg2-binary==2.9.12
python-dotenv==1.2.3
sqlparse==0.6.0
typing_extensions==4.16.0
tzdata==2026.3
celery
redis
PyMuPDF
requests
python-dotenv
google-genai
pydantic
whitenoise==6.8.2
dj-database-url==2.3.0
